# Пример .env файла для бота.
# ОБЯЗАТЕЛЬНО перед началом работы - создать свой .env файл и заполнить все переменные для конфигурации бота

# Токен бота
BOT_TOKEN =
# Telegram id администратора / 1922018144,544532605,
ADMIN_IDS =
# ссылка на телеграмм админа для обратной связи
ADMIN_TG_URL =
# Текст для команды /help (вынес сюда, т.к. этот файл должен заполнять "заказчик")
HELP_COMMAND_DESCRIPTION =
# Путь для подключения к базе данных
DATABASE_DSN =
# Адрес натс сервера
NATS_SERVERS =
# имя стрима, создается при выполнении create_stream.py
NATS_DELAYED_CONSUMER_STREAM =
# настройки консьюмера отложенных уведомлений
NATS_DELAYED_CONSUMER_SUBJECT =
NATS_DELAYED_CONSUMER_DURABLE_NAME =
# настройки консьюмера рассылки
NATS_DISPATCH_CONSUMER_SUBJECT =
NATS_DISPATCH_CONSUMER_DURABLE_NAME =
